<div class="main">
  <div *ngIf="done_subjects.length != 0" class="list-of-sel-obj">
    <mat-card *ngFor="let subj of done_subjects">
      <mat-card-title>{{subj.name}}</mat-card-title>
      <mat-card-subtitle>{{subj.count}}</mat-card-subtitle>
      <mat-card-actions>
        <button mat-flat-button id="btn-del-obj" (click)="del_subject()">
        Удалить предмет
      </button>
      </mat-card-actions>
    </mat-card>
  </div>
    <form #f="ngForm" (ngSubmit)="add_subject(f)" class="add-object">
      <mat-form-field id="select_object">
        <mat-select name="sel_obj" required ngModel>
          <mat-option value="Математика">Математика</mat-option>
          <mat-option value="Русский язык">Русский язык</mat-option>
          <mat-option value="Физика">Физика</mat-option>
          <mat-option value="Химия">Химия</mat-option>
          <mat-option value="ИКТ">ИКТ</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field id="points_object">
        <mat-label>Колличество баллов</mat-label>
        <input matInput type="number" placeholder="Введите количество баллов" required max="100" min="0" name="points" ngModel>
      </mat-form-field>
      <button mat-flat-button id="btn-add-obj">
        Add
      </button>
    </form>

  <div>
    <button mat-raised-button *ngIf="is_show_universities" (click)="show_list()">Скрыть список университетов</button>
    <button mat-raised-button *ngIf="!is_show_universities" (click)="show_list()">Показать список университетов</button>
  </div>

  <div class="list-of-universities" *ngIf="is_show_universities">
        <mat-card *ngFor="let univer of universities" class="univer-card">
          <mat-card-title>{{univer.name}}</mat-card-title>
          <mat-card-content *ngFor="let dep of univer.departments">
            <mat-expansion-panel hideToggle *ngIf="sum >= dep.averageScore">
              <mat-expansion-panel-header>{{dep.nameSpeciality}}</mat-expansion-panel-header>
              <mat-panel-description>{{dep.codeSpeciality}}</mat-panel-description>
              <p>Основные предметы</p>
              <mat-list *ngFor="let obj of dep.subjects" >
                <mat-list-item>{{obj}}</mat-list-item>
              </mat-list>
              <p>Доп предметы</p>
              <mat-list *ngFor="let obj of dep.multipleSubjects" >
                <mat-list-item>{{obj}}</mat-list-item>
              </mat-list>
              <p>Средний проходной балл {{dep.averageScore}}</p>
            </mat-expansion-panel>
          </mat-card-content>
          <mat-card-footer>{{univer.shortName}}</mat-card-footer>
        </mat-card>
  </div>
</div>


